# Logs
logs
npm-debug.log*

# editor files
.idea/
tmp/sqlitedb.db

# node modules
node_modules/
package-lock.json

# build
dist

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# auto generate files
types.ts
inversify.config.ts

# documentation
docs
