# Logs
logs
*.log
npm-debug.log*

# editor files
.idea/
tmp/sqlitedb.db
.DS_Store

# node modules
node_modules/
package-lock.json

# build
dist

# Coverage directory used by tools like istanbul
coverage
.nyc_output
coverage.*

# auto generate files
types.ts
inversify.config.ts

# documentation
# docs
